<body ng-app="app">
    <div class="jumbotron">
        <h1>ANGULAR SHOOTS AT WEB API</h1>

    </div>
    <div class="row" ng-controller="main">
        <div class="col-md-4">
            <p>{{something}}</p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>
   
</body>