
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head ng="app">
    <meta name="viewport" content="width=device-width" />
    <title>AngularJs</title>
</head>
<body ng-controller="main">
    <div> 
    </div>
    {{name}}
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/App/model.js"></script>
</body>
</html>
